<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <form class="login-form" action="/signup" method="POST" novalidate>
      <div class="form-control">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name">
      </div>
      <div class="form-control">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email">
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <div class="error" style="color: red; margin-top: 10px;"></div>
      </div>
      <button class="btn" type="submit">Signup</button>
    </form>
  </main>
</body>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', (event) => {
    event.preventDefault();
    const name = form.querySelector('#name').value;
    const email = form.querySelector('#email').value;
    const password = form.querySelector('#password').value;
    const error = document.querySelector('.error');

    fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        name: name,
        email: email,
        password: password
      })
    }).then((response) => {
      if (response.ok) {
        window.location = '/login';
      } else {
        response.json().then((data) => {
          error.textContent = data.message;
        });
      }
    });
  });
</script>

  <%- include('../includes/end.ejs') %>